# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual Environment
venv/
env/
.env
.venv

# Django
*.log
db.sqlite3
media/
staticfiles/
static/

# Environment variables
.env
.env.local
.env.production

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# Distribution / packaging
dist/
build/
*.egg-info/